[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_full_version = "3.7.1"

[scripts]
format = "black . --verbose"
lint = "flake8 --statistics --count"
ticket = "python ticket_prices.py"
instagram = "python instagram.py"

[packages]
beautifulsoup4 = "*"
requests = "*"
selenium = "*"

[dev-packages]
"flake8" = "*"
black = "*"
pre-commit = "*"
pytest = "*"
rope = "*"
